<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns="http://java.sun.com/xml/ns/javaee"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
   id="WebApp_ID" version="3.0">
   <display-name>WEBOFFICIAL</display-name>
   <welcome-file-list>
   		<welcome-file>index.html</welcome-file>
   </welcome-file-list>
   <servlet>
       <servlet-name>ProductListServlet</servlet-name>
       <servlet-class>controllers.web.ProductListServlet</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>ProductListServlet</servlet-name>
       <url-pattern>/ProductListServlet</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>Detail</servlet-name>
       <servlet-class>controllers.web.Detail</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>Detail</servlet-name>
       <url-pattern>/Detail</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>CreateProductServlet</servlet-name>
       <servlet-class>controllers.admin.CreateProductServlet</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>CreateProductServlet</servlet-name>
       <url-pattern>/CreateProductServlet</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>DeleteProductServlet</servlet-name>
       <servlet-class>controllers.admin.DeleteProductServlet</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>DeleteProductServlet</servlet-name>
       <url-pattern>/DeleteProductServlet</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>EditProductServlet</servlet-name>
       <servlet-class>controllers.admin.EditProductServlet</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>EditProductServlet</servlet-name>
       <url-pattern>/EditProductServlet</url-pattern>
   </servlet-mapping>
   
</web-app>